/*
body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}*/

.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-end; /* Align items to the end (right) of the container */
  padding: 20px;
  width: 90%;
}

.circle-cornered {
  /*width: auto;*/
  max-width: 600px;
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  /*text-align: right;  Right-align text within the div */
  /*font-size: 20px;*/
  color: black;
}

.answer {
  padding: 20px;
  width: 675px;
  min-height: 200px;
  margin-right: 50px;
  /* background-color: lightgray; */
  border-radius: 10px;
  /* text-align: right;  Right-align text within the div */
  word-wrap: break-word;
}

.sticky-element {
  position: sticky;
  top: 10px;
  width: 675px;
  padding: 20px;
}
